<p>Welcome <%= @user.first_name %> <%= @user.last_name %>!</p>

<p>Your account has been created successfully. You can login with following link, with your email and password:</p>

<p>email: <%= @user.email %></p>
<p>login link: <%=root_url%>users/sign_in</p>


<p>Best Regards</p>