<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome <%= @user.email %>!</p>

    <p>Your account has been created. You can login with following credentials:</p>
    
    <p>email: <%= @user.email %></p>
    <p>password: <%= @password %></p>
    
    <p>Best Regards</p>
  </body>
</html>