<% content_for :page_title do %>
  <title>ArtistNXT | News Details</title>
<% end %>

<div class="logintitle2">News Details</div>
<div class="clr">&nbsp;</div>

<div id="ddtags">

  <p>
    <%= @news.text.html_safe %>
  </p>

</div>