<% content_for :page_title do %>
  <title>ArtistNXT | Sign UP</title>
<% end %>

<div class="contentCol">
    <div class="content">
            <!-- register start -->
            <h2 class="logintitle2">Registration</h2>
            <div class="registerWrap clearfix">
                    <div class="steps1">
                            <p>Artist Registration</p> 
                            <%= link_to 'Click Here'.html_safe, signup_artist_path %>
                    </div>			
                    <div class="steps1">
                            <p>Fan Registration</p> 
                            <%= link_to 'Click Here'.html_safe, signup_fan_path %>
                    </div>
            </div>
            <!-- register end -->
    </div>	
</div>
