<% content_for :page_title do %>
  <title>ArtistNXT | New plan</title>
<% end %>

<div class="profiletitle">New plan</div>
<div class="clr">&nbsp;</div>

<div id="ddtags">
  
  <%= render 'form' %>
  
  <dl>
  <dt>&nbsp;</dt>
  <dd><%= link_to 'Back', plans_path %></dd>
  </dl>
</div>