<% content_for :page_title do %>
  <title>ArtistNXT | Profile Settings</title>
<% end %>

<%= render :partial => 'index_left' %>

<div class="contentleft2homemain">
  <div class="contetnhomeiiner">
    <div class="profile_2">
      <p>Coming soon...</p>
    </div>

    <%= render :partial => 'index_right' %>
  
  </div>
</div>