<% content_for :page_title do %>
  <title>ArtistNXT | Add News</title>
<% end %>

<div class="profiletitle">Add News</div>
<div class="clr">&nbsp;</div>

<div id="ddtags">
  
  <%= render 'form' %>
  
  <dl>
  <dt>&nbsp;</dt>
  <dd><%= link_to 'Back', admin_news_index_path %></dd>
  </dl>
</div>